

# set configuration options

# If PNGTHRESHOLD is already set in the environment, use that
if [ ! -z "${PNGTHRESHOLD}" ]
then
    SETPNGTHRESHOLD=${PNGTHRESHOLD}
else
    # Otherwise use this
    SETPNGTHRESHOLD=1
fi
export SETPNGTHRESHOLD

####

# ALPHAPAM is 0 to not use -alphapam, 1 to use -alphapam
# If ALPHAPAM is already set in the environment, use that
if [ ! -z "${ALPHAPAM}" ]
then
    SETALPHAPAM=${ALPHAPAM}
else
    # Otherwise use this
    SETALPHAPAM=1
fi
export SETALPHAPAM

# 
