table {
    border: 2px solid rgb(140 140 140);
}

th,
td {
    border: 1px solid rgb(160 160 160);
}

td {
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    font-family: sans-serif;
    text-align: center;
}

td.final {
    border-style: none;
}
